* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prince-website {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prince-website .prince {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 60px;
    width: 70%;
}

.prince-website .prince .prince-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prince-website .prince .prince-info h1 {
    font-size: 36px;
    color: rgba(60, 60, 67);
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.prince-website .prince .prince-info h1 svg {
    margin-left: 4px;
}

.prince-website .prince .prince-info p {
    margin-top: 18px;
    font-size: 16px;
    color: #37a272;
    width: 380px;
    text-align: center;
}

.prince-website .prince .prince-info p::after {
    content: '_';
    margin-left: 2px;
    animation: print 1s infinite;
}

.prince-website .prince .prince-info .prince-btns {
    margin-top: 38px;
}

.prince-website .prince .prince-info .prince-btns button {
    padding: 10px 22px;
    border-radius: 980px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    background: #ebebef;
    color: #3c3c43;
    transition: background 0.2s;
}

.prince-website .prince .prince-info .prince-btns button:hover {
    background: #e4e4e9;
}

.prince-website .prince .prince-info .prince-btns .support {
    background-color: #f4a95b;
    color: #fff;
}

.prince-website .prince .prince-info .prince-btns .support:hover {
    background-color: #f5b068;
}

@keyframes print {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 0.95;
    }
    100% {
        opacity: 1;
    }
}

.prince-website .prince .prince-face img {
    max-height: 140px;
    border-radius: 200px;
}

.prince-website .details {
    color: #3c3c43;
}

.prince-website .details p {
    margin: 12px 0;
    line-height: 30px;
    font-size: 14px;
}

.prince-website .details p i {
    margin: 0 3px;
    background-color: #eff0f3;
    color: #f4a95b;
    font-style: normal;
    padding: 2px 6px;
    font-size: 13px;
    border-radius: 4px;
}

.prince-website .details p a {
    margin: 0 2px;
    color: #37a272;
    font-style: normal;
    font-size: 13px;
    border-radius: 4px;
}

.prince-website .details p .important {
    margin: 0 3px;
    background-color: #eff0f3;
    color: #37a272;
    font-style: normal;
    padding: 2px 6px;
    font-size: 13px;
    border-radius: 4px;
}

.prince-website .app {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 10px;
}

.prince-website .app .container {
    width: 100%;
    text-decoration: none;
    margin-bottom: 10px;
}

.prince-website .app .container .wrap {
    background-color: #f6f6f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    padding: 24px;
    transition: box-shadow 0.15s;
}

.prince-website .app .container .wrap .icon {
    width: 48px;
    height: 48px;
    background-color: #e7e8ec;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.prince-website .app .container .wrap .info .title {
    color: #3c3c43;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

.prince-website .app .container .wrap .info .info {
    color: #65656a;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
}

.prince-website .app .container .wrap:hover {
    box-shadow: 0 0 0 1px inset #37a272;
}
