.logo_title {
	width: 13%;
	padding: 5%;
}

.h2_title {
	text-align: center;
}

.title_desc {
	padding-top: 200px;
	text-align: center;
}

#modal2 h2 {
	font-size: 1.5em;
}

.pic {
	font-size: 0px;
	padding-top: 25px;
}

.pic_1,
.pic_2 {
	display: inline-block !important;
	max-width: 50% !important;
}

.pic_4,
.pic_5 {
	width: 100%;
}

.pic_3 {
	width: 100%;
	padding-bottom: 60px;
}

.wechat {
	display: flex;
	height: 150px;
}

.wechat img {
	display: inline-block;
	flex: 0 0 150px;
	width: 150px;
}

.wechat div {
	flex: 1;
}

.wechat div p:first-child {
	padding-top: 86px;
}

.wechat div p {
	font-size: 12px;
}

.number {
	display: inline-block;
	float: right;
	padding-right: 5%;
	height: 100%;
}

.zhiliu {
	display: inline-block;
	width: 10px;
	height: 7px;
	vertical-align: middle;
	background: url('../img/zhiliu.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.jjhtp {
	display: flex;
	gap: 20px;
	align-items: flex-start;
}

.software-image img {
	width: 100%;
	max-width: 550px;
	/* 根据需要调整 */
	height: auto;
}

.software-description {
	flex: 1;
}

@media (max-width: 768px) {
	.jjhtp {
		flex-direction: column;
	}
}


.jjhtp .software-description p {
	font-size: 65%;
}

.download-link {
	display: inline-block;
	margin: 10px 0;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
}

.download-link:hover {
	background-color: #0056b3;
}